// title color
$title-bg-color: linear-gradient(to right,#e66465, #9198e5);


// bg color 
$bg-color:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #00608a);

// first container border 
$container-border: black;

// add btn 
$add-btn: rgb(53, 207, 53);

// clear 
$clear-btn: rgb(138, 0, 0);

// task completed 
$task-completed-btn: rgb(226, 154, 30);

// textcolor 
$text-white: white ; 
$text-black: black; 

// task-bg
$task-bg: rgb(188, 44, 44);

